<!DOCTYPE html>
<html>
<head>
    <meta  http-equiv="Content-Type"  content="text/html;  charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone = yes">
    <link rel="stylesheet" href="../static/activity.css" />
</head>

<body>
    <div data-role = "page" id = "mainPage">
  		<div id = "content">

            <header>
                <h3>{{ news.title }}</h3>
            </header>

            <div id = "contentDiv">
                 {% autoescape off %}{{ news.content }}{% endautoescape %}
            </div>

        </div>
    </div>

</body>
</html>