<xml>
    <ToUserName><![CDATA[{{ to }}]]></ToUserName>
    <FromUserName><![CDATA[{{ from }}]]></FromUserName>
    <CreateTime>{{ time }}</CreateTime>
    <MsgType><![CDATA[{{ type }}]]></MsgType>
    <ArticleCount>{{ count }}</ArticleCount>
    <Articles>
        <item>
            <Title><![CDATA[{{ department.name }}]]></Title>
            <Description><![CDATA[{{ department.summary }}]]></Description>
            <PicUrl><![CDATA[{% if not department.picurl %}http://tuantuan.tsinghua.edu.cn/static/img/view12.jpg{% else %}{{ department.picurl }}{% endif %}]]></PicUrl>
            <Url><![CDATA[{{ local_url }}department/?id={{ department.id }}]]></Url>
        </item>
    </Articles>
</xml> 