<xml>
    <ToUserName><![CDATA[{{ to }}]]></ToUserName>
    <FromUserName><![CDATA[{{ from }}]]></FromUserName>
    <CreateTime>{{ time }}</CreateTime>
    <MsgType><![CDATA[{{ type }}]]></MsgType>
    <ArticleCount>{{ count }}</ArticleCount>
    <Articles>
        <item>
            <Title><![CDATA[{{ club.name }}]]></Title>
            <Description><![CDATA[{{ club.summary }}]]></Description>
            <PicUrl><![CDATA[{{ club.picurl }}]]></PicUrl>
            <Url><![CDATA[{{ local_url }}club/?id={{ club.id }}]]></Url>
        </item>
    </Articles>
</xml> 