<xml>
    <ToUserName><![CDATA[{{ to }}]]></ToUserName>
    <FromUserName><![CDATA[{{ from }}]]></FromUserName>
    <CreateTime>{{ time }}</CreateTime>
    <MsgType><![CDATA[{{ type }}]]></MsgType>
    <ArticleCount>{{ count }}</ArticleCount>
    <Articles>
        <item>
            <Title><![CDATA[{{ lecture.title }}]]></Title>
            <Description><![CDATA[演讲题目：{{ lecture.title }}
演讲时间：{{ lecture.act_time|date:"Y年m月d日 H:i"}}
演讲地点：{{ lecture.site }}
演讲人：{{ lecture.actor }}]]></Description>
            <PicUrl><![CDATA[{% if not lecture.picurl %}http://tuantuan.tsinghua.edu.cn/static/img/view6.jpg{% else %}{{ lecture.picurl }}{% endif %}]]></PicUrl>
            <Url><![CDATA[{{ local_url }}lecture/?id={{ lecture.id }}]]></Url>
        </item>
    </Articles>
</xml> 